:root{
    --primary-color:#3fd0d4;
    --text-color:#212121;
    --white-color:#ffffff;
    --red-color:#ef2853;
    --swiper-navigation-size: 22px;
    --animate-delay: 1s;
    --animate-duration: 1s;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease 0.3s;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Poppins,sans-serif;
    box-sizing: border-box;


}
::placeholder{
    color: var(--white-color);
    font-size: 1.4rem;
    font-family: Poppins,sans-serif;
}

::selection {
    background:var(--primary-color); 
    color: var(--white-color);
}
::-moz-selection {
    background:var(--primary-color); 
    color: var(--white-color);

}
::-webkit-selection {
    background:var(--primary-color); 
    color: var(--white-color);

}
.float-right{
    float: right;
}
.pt-right-20{
    padding-right: 10px;
}


.underline-animation-primary {
    background: 
      linear-gradient(var(--primary-color) 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
    transition:0.2s;
}
.underline-animation-primary:hover{
    --d:100%;
}
/* animation: growDown ease-in-out forwards 0.2s; */
/* transform-origin: top center; */


@keyframes growDown{
    0% {
        transform: scaleY(0);
    }
    
    
    100% {
        transform: scaleY(1);
    }
}




#home:hover .menu-list-home,
#pages:hover .menu-list-pages,
#Tours:hover .menu-list-Tours,
#Blog:hover .menu-list-Blog,
#sub-menu-blog:hover .Blog__std-list,
#Destinations:hover .menu-list-Destinations
{
    display: block;
}

.menu-list-item__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 450;
    padding-top: 15px;
    display: block;
    width: fit-content;
    line-height: 2;
    
}
.navbar-item-link:hover,
.menu-list-item__link:hover
{
    color: var(--primary-color);
}




 

